//fonts
$primaryFont: Arial, Helvetica, sans-serif;

//Mobile First
$phone: 480px;
$tablet: 768px;
$desktop: 1500px;

//Colors
$primary: #E50914;
$secundary: #E87C03;
$primaryGray: #323232;
$secundaryGray: #8C8C8C;
$tertiaryGray: #454545;
$white: #eee;
$black: rgb(3, 0, 0);

$radius: 5px;